{% set siteLogo       = siteNav.siteLogo.one() %}
{% set followUs       = siteFooter.followUs.all() %}
{% set listLink       = siteFooter.listLink.all() %}
{% set mailingAddress  = siteFooter.mailingAddress | nl2br %}
{% set visitingAddress = siteFooter.visitingAddress | nl2br %}

<footer id="footer" class="site-footer">
    <div class="_wr">
        <div class="inner">
            <div class="block links">
                {% if listLink %}
                <div class="page-links">
                    <ul>
                    {% for links in listLink %}
                        {% set link = links.links.one() %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if followUs %}
                <div class="follow-us">
                    <p>Følg oss:</p>
                    {% for links in followUs %}
                        {% set link    = links.linkNetwork %}
                        {% set network = links.socialNetworks %}
                            <a target="_blank" href="{{ link }}">
                                {% if network == 'facebook' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M37 18.613C37 8.333 28.717 0 18.5 0S0 8.333 0 18.613C0 27.903 6.765 35.603 15.61 37V23.993h-4.698v-5.38h4.697v-4.1c0-4.666 2.762-7.242 6.988-7.242 2.023 0 4.141.363 4.141.363v4.58h-2.332c-2.298 0-3.015 1.436-3.015 2.91v3.49h5.13l-.82 5.38h-4.31V37C30.235 35.604 37 27.903 37 18.613Z" fill="currentColor"></path></svg>
                                {% elseif network == 'linkedin' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'tumblr' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'vimeo' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'twitter' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'google+' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'youtube' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'instagram' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'pinterest' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'skype' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% elseif network == 'xing' %}
                                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.261 0H2.731C1.222 0 0 1.192 0 2.667v31.66C0 35.8 1.221 37 2.732 37h31.53C35.771 37 37 35.8 37 34.333V2.667C37 1.192 35.772 0 34.261 0ZM10.977 31.53H5.485V13.867h5.492v17.661ZM8.231 11.46a3.181 3.181 0 0 1-3.187-3.18 3.181 3.181 0 0 1 3.187-3.179 3.18 3.18 0 0 1 0 6.36ZM31.529 31.53h-5.485v-8.586c0-2.045-.036-4.682-2.854-4.682-2.855 0-3.288 2.232-3.288 4.538v8.73h-5.478V13.867h5.261v2.413h.072c.73-1.387 2.522-2.854 5.19-2.854 5.556 0 6.582 3.657 6.582 8.412v9.69Z" fill="currentColor"></path></svg>
                                {% endif %}
                            </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="block">
                {% if mailingAddress %}
                    <p>Postadresse:</p>
                    <p>{{ mailingAddress | raw }}</p>
                {% endif %}
            </div>
            <div class="block">
                {% if visitingAddress %}
                    <p>Besøksadresse:</p>
                    <p>{{ visitingAddress | raw }}</p>
                {% endif %}
            </div>
        </div>
        <div class="site-logo">
            <a href="{{ siteUrl }}">
                {% if siteLogo %}
                    <img src="{{ siteLogo.url }}" alt="{{ currentSite.name }}">
                {% endif %}
            </a>
        </div>
    </div>
</footer>